@model List<Wallet>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="Content">
            @foreach (var element in Model)
            {
                <p>@element.Name</p>
                <p>@element.Balance @element.Currency</p>
                <p>@element.WalletType</p>
                <br/>
                <br/>
            }
        </div>
    </div>
</div>