@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        border: solid 2px black;
        margin-left: -200px;

    }

    main {
        background-color: #fff;
        padding: 40px;
        margin: -50px auto 20px;
        border-radius: 10px;
        width: 50%; /* Adjusted width to make it full-width */
        height: 600%;
    }
.row{
    height: 420px;
    }

    h1, h2 {
        font-size: 22px;
        font-weight: normal;
        color: #343a40;
    }

    .form-container {
        width: 90%; /* Adjusted width to make it narrower */
        margin-left: 25px;
    }

    .form-floating {
        margin-bottom: 15px;
        width: 80%;
    }

    .form-floating input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        font-size: 16px;
    }

    .form-floating label {
        display: block;
        font-size: 16px;
        color: #495057;
        padding-bottom: 7px;
    }

    button {
        background-color: #8cd35d;
        color: #fff;
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 18px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(140, 211, 93, 0.5); /* Single box shadow */
    }

    button:hover {
        background-color: #a2d780;
    }

</style>

<main>
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4 form-container">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
